<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aol.mobile.sdk.testapp">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".tutorials.one.TutorialOneActivity"
            android:label="@string/tutorial_1" />
        <activity
            android:name=".tutorials.one.PlayVideoActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/play_video" />
        <activity
            android:name=".tutorials.one.PlayArrayActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/play_array" />
        <activity
            android:name=".tutorials.one.PlayPlaylistActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/play_playlist" />
        <activity
            android:name=".tutorials.one.SetTintColorActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/set_tint_color" />
        <activity
            android:name=".tutorials.one.AutoplayOffActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/autoplay_off" />
        <activity
            android:name=".tutorials.one.PlayMutedActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/play_muted" />


        <activity
            android:name=".tutorials.two.TutorialTwoActivity"
            android:label="@string/tutorial_2" />
        <activity
            android:name=".tutorials.two.HiddenButtonsControlsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/hidden_buttons_controls" />
        <activity
            android:name=".tutorials.two.ModifiedCcSapActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/cc_sap_settings" />
        <activity
            android:name=".tutorials.two.SidebarButtonsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/sidebar_buttons" />
        <activity
            android:name=".tutorials.two.SidebarVolumeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/sidebar_volume" />
        <activity
            android:name=".tutorials.two.SidebarFullscreenActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/sidebar_fullscreen"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name=".tutorials.two.LiveIndicatorTintActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/live_indicator_tint" />

        <activity
            android:name=".tutorials.two.FullyCustomContentControlsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/fully_custom_content_controls" />


        <activity
            android:name=".tutorials.three.TutorialThreeActivity"
            android:label="@string/tutorial_3" />
        <activity
            android:name=".tutorials.three.CurrentStateActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/current_state" />
        <activity
            android:name=".tutorials.three.PauseSeekPlayActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/pause_seek_play" />
        <activity
            android:name=".tutorials.three.LoopPlaybackActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/loop_playback" />
        <activity
            android:name=".tutorials.three.InspectVideoTypeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/inspect_video_type" />


        <activity
            android:name=".tutorials.four.TutorialFourActivity"
            android:label="@string/tutorial_4" />
        <activity
            android:name=".tutorials.four.SDKErrorsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/sdk_initialization_errors" />
        <activity
            android:name=".tutorials.four.PlayerErrorsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/player_initialization_errors" />
        <activity
            android:name=".tutorials.four.DeletedVideoActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/deleted_video" />
        <activity
            android:name=".tutorials.four.InvalidVideoActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/invalid_video" />
        <activity
            android:name=".tutorials.four.RestrictedVideoActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/restricted_video" />


        <activity
            android:name=".tutorials.five.TutorialFiveActivity"
            android:label="@string/tutorial_5" />
        <activity
            android:name=".tutorials.five.ChromecastSupportActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/chromecast_support" />
    </application>
</manifest>
